body {
    background-color: #f6f8fa;
    /* background-color: #ebebeb; */
}

text {
    font-family: sans-serif;
}

.text-title {
    font-size: 2.7em;
    color: #8E8883;
}

.y-axis .tick text {
font-size: 2.5em;
fill: #635F5D;
}

.x-axis .tick text {
    font-size: 2.19em;
    fill: #635F5D;
}

.tick line {
stroke: #C0C0BB;
}

.axis-label {
    font-size: 3.25em;
    fill: #8E8883;
}

.legend-label {
    font-size: 1.25em;
    fill: #8E8883;
}

.legend-bubble-label {
    font-size: 1.0em;
    fill: #8E8883;
}


.quarter-label {
    font-size: 1.50em;
    color: #8E8883;
    /* fill: #8E8883; */
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 180px;
    height: 70px;
    padding: 2px;
    font: 20px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.center-align {
    display: block;
    margin: auto;
    text-align: center;
}

.slidecontainer {
    width: 25%;
  }

  .slider {
    -webkit-appearance: none;
    width: 33%;
    height: 15px;
    border-radius: 5px;
    /* background: #d3d3d3; */
    background: #008CBA;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

/* .control-btn
{
    background: darkcyan;
    color:white;
} */

a.control-btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: black;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    font-size: 1.5em;
}

a.control-btn:hover {
    background-color:#4095c6;
}

@media all and (max-width:30em) {
    a.control-btn {
        display:block;
        margin:0.2em auto;
    }
}



aside {
    display: block;
    position: relative;
    margin: 40px 0;
  }

  aside h3 {
    font: bold 30px Sans-Serif;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    /* background: #369; */
    color: #8E8883;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    line-height: 24px;
  }

  /* Class name via Modernizr */
  .csstransforms aside {
    border-left: 34px solid #369;
    padding-left: 10px;
  }
  .csstransforms {
    position: absolute;
    top: 634px;
    left: 360px;
    /* left: 92px; */
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

@font-face {
    font-display: swap;
    font-family: CircularStd-Book;
    font-style: normal;
    font-weight: 400;
    src: local("Circular Book"), url(https://www.bankrate.com/static/fonts/CircularStd-Book.woff2) format("woff2"), url(https://www.bankrate.com/static/fonts/CircularStd-Book.woff) format("woff");
}
@font-face {
    font-display: swap;
    font-family: CircularStd-Bold;
    font-style: normal;
    font-weight: 600;
    src: local("Circular Bold"), url(https://www.bankrate.com/static/fonts/CircularStd-Bold.woff2) format("woff2"), url(https://www.bankrate.com/static/fonts/CircularStd-Bold.woff) format("woff");
}
.article {
    border-top-left-radius: 0.88889rem;
    border-top-right-radius: 0.88889rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.77778rem;
    max-width: 72rem;
    /* max-width: 47.40741rem; */
    padding: 1.33333rem;
    position: relative;
    z-index: 5;
}

p {
    font-family: CircularStd-Bold, Arial, sans-serif;
    color: #515260;
    font-size: 1.125em;
    line-height: 1.6;
}

code {
    /* padding: 2px 4px; */
    color: rgb(68, 68, 68);
    background: rgb(221, 221, 221);
    border-radius: 4px;
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    display: block;
}

.wrapper {
    max-width: calc(1000px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.social-links {
    font-size: 0.9375rem;
    color: #828282;
}

.social-media-list {
    list-style: none;
    display: table;
    margin: 0 auto;
    list-style: none;
}

.social-media-list li {
    float: left;
    margin: 5px 10px 5px 0;
}
.social-media-list li a {
    display: block;
    padding: 7.5px;
    /* border: 1px solid #e8e8e8; */
    text-decoration: none;
    background-color: transparent;
}

.social-media-list .svg-icon, .svg-icon {
    width: 25px !important;
    height: 23px !important;
}

svg:not(:root) {
    overflow: hidden;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.grey {
    color: #828282;
}

ul, ol {
    padding-left: 0;
}

.mc-code {
    display: block;
    margin: auto;
    text-align: center;
}